@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Tulpen+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: system-ui, "Helvetica Neue", sans-serif;
  color: #000;
}

body {
  background-color: #E8F1F2;
  width: 100vw;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);
}
.card .card-body {
  width: 50%;
  padding: 0.5rem;
}
.card .card-body .card-header .card-title {
  font-size: 2rem;
}
.card .card-image {
  width: 50%;
  height: auto;
  border: 1px solid #000;
  background-color: #b1b856;
}

.content-header {
  height: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 9999;
  border: 1px solid black;
}
.header .brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .brand .name {
  font-family: "Tulpen One";
  font-size: 3rem;
  font-weight: 700;
  color: #423E3B;
}
.header .brand .name span {
  font: inherit;
  color: #FF2E00;
}
.header .content-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .content-menu .menu {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border: 1px solid #423E3B;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}
.header .content-menu .menu .menu-item {
  cursor: pointer;
}
.header .content-menu .menu .menu-item:hover {
  color: #FEA82F;
}
.header .content-menu .menu #search {
  background-color: #FFF;
  border: none;
  border-radius: 30px;
  padding: 0.25rem 0.8rem;
  overflow: hidden;
}
.header .content-menu .menu #search:focus {
  outline: none;
}
.header .content-menu .perfil {
  width: 3rem;
  height: 3rem;
  border: 1px dotted #423E3B;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
  background-color: #FEA82F;
}
.header .content-menu .perfil:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.modal .form {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
  padding: 2rem;
  gap: 0.5rem;
}
.modal .form h1 {
  font-size: 1.5rem;
}
.modal .form .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.modal .form .inputs .input-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal .form .inputs .input-content input {
  background-color: #FFF;
  border: none;
  border-radius: 30px;
  padding: 0.25rem 0.8rem;
  overflow: hidden;
}
.modal .form .inputs .input-content input:focus {
  outline: none;
}
.modal .form .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal .form .options button {
  padding: 0.5rem 2rem;
  border-radius: 20px;
  border: none;
  background-color: #FEA82F;
  color: #FFF;
}
.modal .form .options button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.3);
}
.modal .form .options p a {
  color: #FF2E00;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}/*# sourceMappingURL=main.css.map */