@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Tulpen+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: system-ui, "Helvetica Neue", sans-serif;
  color: #000;
}

body {
  background-color: #E8F1F2;
}

.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  width: 80%;
}

.card {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 105, 0.149), 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
}
.card .card-body .card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.card .card-body .card-title:hover {
  cursor: pointer;
  color: #FEA82F;
}
.card .card-body .card-text {
  font-size: 0.8rem;
}
.card .card-body img {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.content-header {
  height: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  height: 4rem;
  padding: 3rem 0;
  top: 0;
  background-color: #E8F1F2;
}
.header .brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .brand .name {
  font-family: "Tulpen One";
  font-size: 3rem;
  font-weight: 700;
  color: #423E3B;
}
.header .brand .name span {
  font: inherit;
  color: #FF2E00;
}
.header .content-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .content-menu .logout {
  display: flex;
  gap: 0.8rem;
}
.header .content-menu .menu {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}
.header .content-menu .menu .menu-item {
  cursor: pointer;
}
.header .content-menu .menu .menu-item:hover {
  color: #FEA82F;
}
.header .content-menu .menu #search {
  background-color: #FFF;
  border: none;
  border-radius: 30px;
  padding: 0.25rem 0.8rem;
  overflow: hidden;
}
.header .content-menu .menu #search:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5%;
  margin-bottom: 0;
}

.compInput {
  padding: 0.7rem;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.button {
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  width: 6rem;
  transition: box-shadow 0.3s ease;
  background-color: #FEA82F;
}
.button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-overlay .content-newsModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-overlay .content-newsModal .content-newsImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay .content-newsModal .content-newsImg img {
  width: 50%;
}
.modal-overlay .content-newsModal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.modal-overlay .content-newsModal header h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal-overlay .content-newsModal header .close-button {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.modal-overlay .content-newsModal header p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container-search {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-search img {
  width: 50%;
}
.container-search .search-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 1rem auto;
  width: 90%;
}
.container-search span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
}

.container-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
}
.container-auth .cardSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
  padding: 2rem;
  gap: 1rem;
  border: 1px solid black;
}
.container-auth form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.container-auth form button {
  align-self: center;
}

#perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
#perfil .button-back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  text-align: center;
}
#perfil .button-back:hover {
  cursor: pointer;
}
#perfil .perfil-modal {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 70%;
}
#perfil label {
  display: flex;
  flex-direction: column;
}
#perfil .profile-info {
  display: flex;
  gap: 0.7rem;
}
#perfil .profile-info > div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
#perfil .profile-info .profile-item {
  font-size: 0.9rem;
}
#perfil form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  gap: 0.7rem;
}
#perfil form section {
  display: flex;
  gap: 1rem;
  width: 100%;
}
#perfil .buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.create-news form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-news form > label {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */