@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Tulpen+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: system-ui, "Helvetica Neue", sans-serif;
  color: #000;
}

body {
  background-color: #E8F1F2;
  width: 100%;
}

.home {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 999px) {
  .home {
    width: 60%;
  }
}
@media (max-width: 670px) {
  .home {
    width: 90%;
  }
}
.home h1 {
  padding: 0 0 2rem 0;
  font-size: 1.7rem;
}
.home .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
@media (max-width: 999px) {
  .home .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home .span-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  font-size: 2rem;
}

.card {
  display: flex;
  width: 100%;
  height: 164px;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 105, 0.149), 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 20px;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.7rem;
  position: relative;
  height: 100%;
}
.card .card-body .card-title {
  font-size: 1.2rem;
  height: 33.3%;
}
.card .card-body .card-title:hover {
  cursor: pointer;
  color: #FEA82F;
}
@media (max-width: 1200px) {
  .card .card-body .card-title {
    font-size: 1rem;
  }
}
.card .card-body .card-text {
  font-size: 0.8rem;
  height: 50.3%;
  margin-top: 1rem;
}
.card .card-body .card-footer {
  display: flex;
  justify-content: space-between;
  height: 13%;
  width: 100%;
}
.card .card-body .card-footer span:hover {
  cursor: pointer;
  color: #FEA82F;
}
.card .card-body .card-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.5rem;
}
.card img {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.content-header {
  height: 4rem;
  background-color: #E8F1F2;
}
.content-header .faBars {
  display: none;
  align-self: center;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  margin: 0 0.8rem;
}
.content-header .faBars:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1843137255);
}
@media (max-width: 768px) {
  .content-header {
    width: 100%;
    height: auto;
  }
  .content-header .faBars {
    display: block;
  }
  .content-header .header {
    height: auto;
    padding: 0.5rem 1rem;
    width: 100%;
    position: relative;
  }
  .content-header .content-menu {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    height: 20rem;
    padding-bottom: 1rem;
    width: 100%;
    background-color: #E8F1F2;
    z-index: 9999;
    box-shadow: 0px 22px 14px 1px rgba(0, 0, 0, 0.75);
  }
  .content-header .content-menu .menu {
    flex-direction: column;
    align-items: center !important;
    height: 80%;
  }
  .content-header .content-menu .menu .menu-item {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .content-header .content-menu .logout {
    flex-direction: column;
    gap: 1rem;
  }
  .content-header .content-menu .logout > * {
    margin-bottom: 1rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  height: 4rem;
  padding: 3rem 0;
  top: 0;
}
.header .brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .brand .name {
  font-family: "Tulpen One";
  font-size: 3rem;
  font-weight: 700;
  color: #423E3B;
}
.header .brand .name span {
  font: inherit;
  color: #FF2E00;
}
.header .content-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .content-menu .logout {
  display: flex;
  gap: 0.8rem;
}
.header .content-menu .logout h1 {
  align-self: center;
}
.header .content-menu .menu {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}
.header .content-menu .menu .menu-item {
  cursor: pointer;
}
.header .content-menu .menu .menu-item:hover {
  color: #FEA82F;
}
.header .content-menu .menu .search-input {
  background-color: #FFF;
  border: none;
  border-radius: 30px;
  padding: 0.25rem 0.8rem;
  overflow: hidden;
  position: relative;
}
.header .content-menu .menu .search-input #search {
  border: none;
}
.header .content-menu .menu .search-input #search:focus {
  outline: none;
}
.header .content-menu .menu .search-input .search-icon {
  position: absolute;
  right: 0.8rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5%;
  margin-bottom: 0;
}

.compInput {
  padding: 0.7rem;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.button {
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  width: 6rem;
  transition: box-shadow 0.3s ease;
  background-color: #FEA82F;
}
.button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-overlay .content-newsModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.modal-overlay .content-newsModal .content-newsImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay .content-newsModal .content-newsImg img {
  width: 50%;
}
.modal-overlay .content-newsModal header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.modal-overlay .content-newsModal header h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal-overlay .content-newsModal header .close-button {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.modal-overlay .content-newsModal header .close-button:hover {
  color: rgba(255, 0, 0, 0.473);
}
.modal-overlay .content-newsModal .texts {
  text-align: justify;
}
.modal-overlay .content-newsModal .texts p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.container-search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 999px) {
  .container-search {
    display: flex;
    flex-direction: column;
  }
}

.container-auth {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container-auth .cardSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 2rem;
  gap: 1rem;
}
.container-auth .cardSign h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (max-width: 1000px) {
  .container-auth .cardSign {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .container-auth .cardSign {
    width: 90%;
    padding: 0;
  }
}
.container-auth form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.container-auth form > * {
  font-size: 1.2rem;
}
.container-auth form button {
  align-self: center;
  width: 100%;
}
.container-auth form .forget-password {
  text-align: center;
}
.container-auth form .forget-password:hover {
  cursor: pointer;
  color: #FEA82F;
}
.container-auth form p {
  text-align: start;
  font-size: 1.2rem;
}
.container-auth form p span {
  font-size: 1.3rem;
  font-weight: bold;
}

.error {
  text-align: center;
}

#perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  #perfil {
    width: 100%;
  }
  #perfil .perfil-modal {
    width: 80%;
  }
  #perfil form {
    width: 100% !important;
  }
}
#perfil .button-back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  text-align: center;
}
#perfil .button-back:hover {
  cursor: pointer;
}
#perfil .perfil-modal {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 70%;
}
#perfil .perfil-modal h1 {
  text-align: center;
  font-size: 1.2rem;
}
#perfil .perfil-modal .input-password {
  position: relative;
  width: 100%;
}
#perfil .perfil-modal .input-password input {
  width: 100%;
}
#perfil .perfil-modal .input-password .eye-icon {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  cursor: pointer;
}
#perfil label {
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#perfil .profile-info {
  display: flex;
  gap: 0.7rem;
}
#perfil .profile-info > div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
#perfil .profile-info .profile-item {
  font-size: 0.9rem;
}
#perfil form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 0.7rem;
  padding-bottom: 3rem;
}
#perfil .buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.create-news form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-news form > label {
  display: flex;
  flex-direction: column;
}

.create-news {
  width: 100%;
  position: relative;
}
.create-news .modal-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: 25%;
  height: 50%;
  max-width: 600px;
  max-height: 80%;
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
}
@media (max-width: 750px) {
  .create-news .modal-delete {
    width: 60%;
  }
}
.create-news .modal-delete h1 {
  font-size: 1.5rem;
  font-weight: 600;
  top: 2rem;
  position: absolute;
}
.create-news .modal-delete p {
  font-size: 1.1rem;
  font-weight: 400;
}
.create-news .modal-delete div {
  display: flex;
  position: absolute;
  bottom: 2rem;
  gap: 0.5rem;
}
.create-news .modal-delete div .button {
  align-self: center;
}
.create-news .btn-delete {
  background-color: transparent;
  border: 2px solid red;
  color: red;
  font-weight: 600;
}
.create-news form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .create-news form {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
  }
}
.create-news form h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.create-news form .container-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.create-news form .container-textarea textarea {
  margin-bottom: 1rem;
}
@media (max-width: 750px) {
  .create-news form .container-textarea textarea {
    width: 80%;
  }
}
.create-news form .container-textarea div {
  display: flex;
  justify-content: space-between;
  width: 30%;
  text-align: center;
}
@media (max-width: 750px) {
  .create-news form .container-textarea div {
    width: 50%;
  }
}
.create-news form .container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.create-news form .container-input input {
  width: 70%;
}
.create-news form .container-input .checkbox-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin: 0 0.5rem;
  margin-top: 1rem;
  width: 80%;
}
.create-news form .container-input .checkbox-filters div {
  border: 1px solid rgb(0, 212, 212);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.create-news form .container-input .checkbox-filters div input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  width: auto;
}
.create-news form .container-input .checkbox-filters div input[type=checkbox]:checked + label {
  background-color: rgb(0, 212, 212);
  color: white;
}
.create-news form .container-input .checkbox-filters div label {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}/*# sourceMappingURL=main.css.map */