.create-news {
    width: 100%;

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1100px) {
            flex-direction: column;
            gap: 1rem;
            padding-bottom: 2rem;
        }

        h2 {
            margin-top: 1rem;
            margin-bottom: .5rem;
        }

        .container-textarea {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            textarea {
                margin-bottom: 1rem;

                @media (max-width: 750px) {
                    width: 80%;
                }
            }

            div {
                display: flex;
                justify-content: space-between;
                width: 30%;
                text-align: center;

                @media (max-width: 750px) {
                    width: 50%;
                }

                span {
                    background-color: transparent;
                    border: 2px solid red;
                    color: red;
                    font-weight: 600;
                }
            }
        }

        .container-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            input {
                width: 70%;
            }

            .checkbox-filters {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: .8rem;
                margin: 0 0.5rem;
                margin-top: 1rem;
                width: 80%;

                // @media (max-width: 750px) {
                //     width: 80%;
                // }

                div {
                    border: 1px solid rgb(0, 212, 212);
                    border-radius: 15px;
                    overflow: hidden;
                    cursor: pointer;

                    input[type="checkbox"] {
                        position: absolute;
                        clip: rect(0, 0, 0, 0);
                        pointer-events: none;
                        width: auto;
                    }

                    input[type="checkbox"]:checked+label {
                        background-color: rgb(0, 212, 212);
                        color: white;
                    }

                    label {
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 0.5rem 1rem;
                        user-select: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}