#perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (max-width: 768px) {
        width: 100%;

        .perfil-modal {
            width: 80%;
        }
        
        form {
            width: 100% !important;
        }
    }

    .button-back {
        position: fixed;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }

    .perfil-modal {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        width: 70%;

        h1 {
            text-align: center;
            font-size: 1.2rem;
        }

        .input-password {
            position: relative;
            width: 100%;

            input {width: 100%;}

            .eye-icon {
                position: absolute;
                right: .8rem;
                bottom: .8rem;
                cursor: pointer;
            }
        }
    }

    label {
        display: flex;
        flex-direction: column;
        user-select: none;
    }

    .profile-info {
        display: flex;
        gap: .7rem;

        &>div {
            display: flex;
            flex-direction: column;
            gap: .7rem;
        }

        .profile-item{
            font-size: .9rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        gap: .7rem;
        padding-bottom: 3rem;
    }
    
    .buttons {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
    }
}
