@import '../base/variables';

.home {
    text-align: center;
    margin: 0 auto;
    width: 80%;

    @media (max-width: 999px) {
        width: 60%;
    }
    @media (max-width: 670px) {
        width: 90%;
    }

    h1 {
        padding: 0 0 2rem 0;
        font-size: 1.7rem;
    }

    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;

        @media (max-width: 999px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .span-search {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75vh;
        font-size: 2rem;
    }
}

.btnFooter {
    width: 13% !important;
    margin: 0 1rem 2rem 1rem;

    @media (max-width: 1220px) {
        width: 17% !important;
    }
    @media (max-width: 999px) {
        width: 32% !important;
    }
    @media (max-width: 670px) {
        width: 30% !important;
    }
}