@import '../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Tulpen+One&display=swap');

.content-header {height: 4rem;}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 4rem;
    padding: 3rem 0;
    top: 0;
    background-color: $background;

    // border: 1px solid black;

    .brand {
        display: flex;
        align-items: center;
        gap: .5rem;

        .name {
            font-family: 'Tulpen One';
            font-size: 3rem;
            font-weight: 700;
            color: $primary;
            span {
                font: inherit;
                color: $secondary;
            }
        }
    }

    .content-menu{
        display: flex;
        align-items: center;
        gap: .5rem;

        .logout {
            display: flex;
            gap: .8rem;
        }

        .menu {
            display: flex;
            align-items: baseline;
            gap: .5rem;
            // border: 1px solid $primary;
            border-radius: 30px;
            padding: .5rem 1rem;
    
            .menu-item {
                cursor: pointer;

                &:hover {
                    color: $tertiary;
                }
            }
    
            #search {
                background-color: $white;
                border: none;
                border-radius: 30px;
                padding: .25rem .8rem;
                overflow: hidden;
    
                &:focus {
                    outline: none;
                }
            }
    
        }

    }
}