@import '../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Tulpen+One&display=swap');

.content-header {
    height: 4rem;
    background-color: $background;
    // border: 1px solid #000;

    .faBars {
        display: none;
        align-self: center;
        border-radius: 10px;
        padding: .5rem .8rem;
        margin: 0 .8rem;

        &:hover {
            cursor: pointer;
            background-color: #0000002f;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        height: auto;

        #formFilter {
            display: contents;

            .filtersDiv {
                display: flex;
                margin-top: 10rem;
            }
        }

        .faBars {
            display: block;
        }

        .filtersDiv {
            margin-left: -7rem;
        }

        .header {
            height: auto;
            padding: .5rem 1rem;
            width: 100%;
            position: relative;
        }

        .content-menu {
            flex-direction: column;
            position: absolute;
            top: 4rem;
            left: 0;
            right: 0;
            height: 20rem;
            padding-bottom: 1rem;
            width: 100%;
            background-color: $background;
            z-index: 9999;
            box-shadow: 0px 22px 14px 1px rgba(0, 0, 0, 0.75);

            .menu {
                flex-direction: column;
                align-items: center !important;
                height: 80%;

                .menu-item {
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }
            }

            .logout {
                flex-direction: column;
                gap: 1rem;

                &>* {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 4rem;
    padding: 3rem 0;
    top: 0;

    .filterBar {
        align-self: center;
        border-radius: 10px;
        padding: .5rem .8rem;
        margin: 0 .8rem;

        &:hover {
            cursor: pointer;
            background-color: #0000002f;
        }
    }

    .formFilter{
        display: block;
    }

    .filtersDiv {
        z-index: 1;
        position: absolute;
        // display: flex;
        margin-top: 36rem;
        justify-content: center;
        flex-wrap: wrap;
        gap: .8rem;
        width: 300px;
        background-color: aliceblue;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: 0px 0px 13px 4px;

        // @media (max-width: 750px) {
        //     width: 80%;
        // }

        div {
            border: 1px solid rgb(0, 212, 212);
            border-radius: 15px;
            overflow: hidden;
            cursor: pointer;

            input[type="checkbox"] {
                position: absolute;
                clip: rect(0, 0, 0, 0);
                pointer-events: none;
                width: auto;
            }

            input[type="checkbox"]:checked+label {
                background-color: rgb(0, 212, 212);
                color: white;
            }

            label {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 0.5rem 1rem;
                user-select: none;
                cursor: pointer;
            }
        }
    }


    .brand {
        display: flex;
        align-items: center;
        gap: .5rem;
        user-select: none;

        .name {
            font-family: 'Tulpen One';
            font-size: 3rem;
            font-weight: 700;
            color: $primary;

            span {
                font: inherit;
                color: $secondary;
            }
        }
    }

    .content-menu {
        display: flex;
        align-items: center;
        gap: .5rem;

        .logout {
            display: flex;
            gap: .8rem;

            h1 {
                align-self: center;
            }
        }

        .menu {
            display: flex;
            align-items: baseline;
            gap: .5rem;
            border-radius: 30px;
            padding: .5rem 1rem;

            form,
            .filter {
                display: flex;
                align-items: center;
                gap: .2rem;
            }

            .filter {
                margin-left: .7rem;
                user-select: none;

                &:hover {
                    cursor: pointer;
                }
            }

            .menu-item {
                cursor: pointer;

                &:hover {
                    color: $tertiary;
                }
            }

            .search-input {
                background-color: $white;
                border: none;
                border-radius: 30px;
                padding: .25rem .8rem;
                overflow: hidden;
                position: relative;

                #search {
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                .search-icon {
                    position: absolute;
                    right: .8rem;
                    cursor: pointer;
                }
            }
        }
    }
}